* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp7845891.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border-bottom-right-radius: 15% ; */
    /* border-top-left-radius: 15%; */
}

#search_bar {
    height: 3.5rem;
    width: 70%;
    background: black;
    color: white;
    border: 2px solid black;

    padding-left: 2rem;
    cursor: pointer;

    border-radius: 10px;
    margin-top: 1rem;
}
#search_bar::placeholder {
    color: white;
    font-size: 1rem;
}
#search_bar:hover::placeholder {
    font-size: 1.3rem;
}
.title, .title_2 {
    color: white;
    text-align: center;
    font-family: "Playwrite NZ", cursive;
}

.title {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.title_2 {
    font-size: 4.5rem;
    /* margin-bottom: 1.5rem; */
}

@media (max-width: 1085px) {
    .title {
        font-size: 4rem;
    }
    .title_2 {
        font-size: 3.5rem;
    }
    #search_bar {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 3rem;
    }
    .title_2 {
        font-size: 2.5rem;
    }
    #search_bar {
        width: 90%;
    }
}

@media (max-width: 395px) {
    .title {
        font-size: 2rem;
    }
    .title_2 {
        font-size: 1.5rem;
    }
    #search_bar {
        width: 95%;
    }
}
