#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

#signup-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; /* Full viewport height */
    background-image: url('https://wallpaperaccess.com/full/4117465.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 20px; /* Added padding */
}

#signup-container {
    background: rgba(16, 15, 15, 0.715);
    width: 100%;
    height: auto;
    max-width: 400px; /* Set a max-width for better responsiveness */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signup-title {
    color: white;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

#name-label, #email-label, #password-label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

#signup-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#signup-button:hover {
    background-color: #ff4500;
}

#login-text {
    margin-top: 20px;
    color: white;
}

#signup-link {
    color: #ff6347;
    text-decoration: none;
}

#signup-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #signup-container {
        width: 80%;
    }

    #signup-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #signup-container {
        width: 90%;
    }

    #signup-title {
        font-size: 1.5rem;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-input {
        padding: 8px;
    }

    #signup-button {
        padding: 8px;
        font-size: 14px;
    }

    #login-text {
        font-size: 0.9rem;
    }
}
