* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  height: 8rem;
  width: auto;
  margin-left: 3rem;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-texts {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.Mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1085px) {
  .nav_links {
    display: none;
  }
  .nav-links-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-top: 1px solid #ccc;
  }
  .nav-texts {
    padding: 10px;
    margin: 10px 0;
  }
  .Mobile-menu-icon {
    display: block;
  }
}

@media (max-width: 767px) {
  #logo {
    height: 4rem;
  }
  .nav-links-mobile {
    top: 60px;
  }
}

@media (max-width: 395px) {
  .Navbar {
    padding: 0 10px;
  }
  #logo {
    height: 3rem;
  }
  .nav-links-mobile {
    top: 50px;
  }
  .nav-texts {
    font-size: 18px;
  }
}
