/* filter  */
#heading {
    /* margin-top: 1rem; */
    margin-left: 12rem;
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
  }
  .filter_area {
    /* background: rgba(224, 223, 223, 0.805); */
    height: auto;
    margin-top: 1rem;
  }
  .filters {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 12rem;
    padding: 0rem 1rem 1rem 1rem;
  }
  .filters i {
    margin-left: 5px;
  }
  .filter {
    /* border: 2px solid black; */
    border-radius: 15px;
    word-wrap: break-word;
    padding: 0.5rem;
    background: rgba(224, 223, 223, 0.805);
  }