#heading {
  margin: 1rem 12rem;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  font-size: 3rem;
}

.filter_area {
  height: auto;
  margin-top: 1rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 12rem;
  padding: 0 1rem 1rem 1rem;
}

.filters i {
  margin-left: 5px;
}

.filter {
  border-radius: 15px;
  word-wrap: break-word;
  padding: 0.5rem;
  background: rgba(224, 223, 223, 0.805);
}

@media (max-width: 1085px) {
  #heading {
      margin: 1rem 8rem;
      font-size: 2.8rem;
  }
  .filters {
      margin: 0 8rem;
  }
}

@media (max-width: 767px) {
  #heading {
      margin: 1rem 4rem;
      font-size: 2.5rem;
  }
  .filters {
      margin: 0 4rem;
      justify-content: center;
  }
}

@media (max-width: 395px) {
  #heading {
      margin: 1rem 1rem;
      font-size: 2rem;

  }
  .filters {
      margin: 0 1rem;
      justify-content: center;
  }
  .filter {
      font-size: 0.9rem;
      padding: 0.3rem;
  }
}
