* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Footer {
    width: 100%;
    /* border-top: 2px solid black; */
    background-color: #f9f9f9;
  }
  
  #owner {
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
  
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
  }
  
  .company_details {
    flex: 1 1 10rem;
    flex-wrap: wrap;
    margin: 1rem;
  }

  /* .company_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  } */
   
  
  .company_details h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .company_details li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1085px) {
    .footer_container {
      flex-direction: column;
      align-items: center;
    }
    .company_details {
      text-align: center;
      margin: 0.75rem 0;
    }
  }
  
  @media (max-width: 767px) {
    .company_details h2 {
      font-size: 1.25rem;
    }
    .company_details li {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 395px) {
    .footer_container {
      margin: 0.5rem;
    }
    #owner {
      font-size: 0.875rem;
    }
  }
  